@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(rgba(13, 17, 23, 0.9), rgba(13, 17, 23, 0.9)), url('/back.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #e6edf3;
  font-family: Arial, Helvetica, sans-serif;
}

.mono {
  font-family: 'JetBrains Mono', monospace;
}